.fancy-loader {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.fancy-loader div {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.fancy-loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.fancy-loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0.7;
  }
  100% {
    transform: translateY(-30px);
    opacity: 1;
  }
}
